.container {
    display: flex;
    flex: wrap;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: yellow;
    border: 10px solid blueviolet;
    display: flex;
    flex-wrap: wrap;
   align-items: flex-start;
   align-content: flex-start;
}

.mini-grid {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;

}

.grid div {
    height: 20px;
    width: 20px;
   
}

h3, button {
    font-size: 15px;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}
.mini-grid div {
    height: 20px;
    width: 20px;
  }